.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: lightgray;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 1px 3px 4px grey;
  
  }
  
  .navbar__item {
    flex-basis: 20%;
    list-style-type: none;
    text-align: center;
    margin: auto;
  }
  
  .navbar__logout {
    margin-left: auto;
  }
  
  .navbar__link {
    text-decoration: none;
    color: black;
    font-family: monospace;
    font-size: 1.25rem;
  }
  
  .navbar__link:hover {
    text-decoration: underline;
  }
  
  /* LOGO */
  
  .logo {
    justify-self: flex-start;
    text-decoration: none;
    justify-self: flex-start;
  }
  
  .logo__link {
    text-decoration: none;
  }
  
  .logo__img {
    width: 12rem;
    text-decoration: none;
  }